// place your custom styles here

// 20250216 修改1
//1. 使头像居中

.vp-portfolio-avatar {
    display: flex;                /* 使用flex布局 */
    justify-content: center;      /* 水平居中 */
    align-items: center;          /* 垂直居中 */
    height: 100%;                 /* 保证div有足够的高度 */
  }
  
  .vp-portfolio-avatar img {
    max-width: 100%;              /* 防止图片超出容器宽度 */
    max-height: 100%;             /* 防止图片超出容器高度 */
  }

  
  
  